extends pug/page-templates/tpl_home.pug

block title
    title Hub iEX Universidad El Bosque 

block nabvar
    include pug/template-parts/navbar.pug

block hero
    include pug/template-parts/banner-hero.pug
block nav_services
    ul.nav-services
        li
            +block-items-service('acid-yellow', 'servicios/startup.html', 'startup', '/images/logo-iex-item.svg')
        li
            +block-items-service('acid-blue', 'servicios/consolidacion.html', 'Consolidación', '/images/logo-iex-item.svg')
        li
            +block-items-service('acid-green', 'servicios/expansion.html', 'Expansión', '/images/logo-iex-item.svg')
        li
            +block-items-service('acid-orange', 'servicios/articulacion.html', 'Articulación', '/images/logo-iex-item.svg')
block content
    +block-card-service('animation-1', 'b-acid-orange', 'Ecosistema de emprendimiento y consolidación empresarial')
        | Respondemos a nuestro compromiso científico y social por medio de la cocreación de ideas y el trabajo en conjunto con el mundo de los negocios, buscando contribuir al objetivo que apasiona a nuestros líderes: ofrecer opciones de crecimiento organizacional y el fortalecimiento del conocimiento implícito en cada modelo de negocio.
    +block-card-service('animation-2', 'b-acid-orange', 'La innovación parte de la transformación')
        | Brindamos una experiencia desde la cual surge una amplia oferta de aquello que podemos llegar a construir de la mano de aliados como  <a class='' href='http://tecnaliacolombia.org/'>Tecnalia</a> y demás organizaciones que, como el HUB iEX, fueron diseñadas y preparadas para hacer de un plan una realidad.
    +block-card-service('animation-3', 'b-acid-orange', 'Economía a partir del conocimiento')
        | Esta es nuestra apuesta por involucrar a la comunidad universitaria y empresarial en la consecución de resultados a través de su participación en procesos, toma de decisiones e implementación de acciones a largo plazo, desarrollando estrategias con empresas públicas y privadas, cuyo éxito radicará en el trabajo en equipo y en el conocimiento.

block video
    section.video-hub
        .field.field--name-video
            include pug/template-parts/slider-video.pug
block sectores
    section.sector-hub
        .field.field--name-sector-title
            |Secto<span>res</span>
        .field.field--name-sector-subtitle
            |Industrias <span>donde trabajamos la Innovación, Educación y Extensión</span>
        .field.field--name-sector-body
            |Estamos enfocados en cuatro segmentos de mercado: salud, educación, industrias creativas y sector empresarial con fuerte énfasis en la pymes. Para cada uno, creamos una propuesta de valor que nos permite comprender sus necesidades e identificar sus oportunidades de crecimiento.
        .sectores-icon-hub
            ul.icon-hub
                +block-items-sector('animation-1','Empresas','/images/icon-pyme.svg')
                +block-items-sector('animation-2','Educación','/images/icon-educacion.svg')
                +block-items-sector('animation-3','Salud','/images/icon-salud.svg')
                +block-items-sector('animation-4','Industrias creativas','/images/icon-icreativa.svg')
block team
    include pug/template-parts/banner-team.pug
block destacado
    section.ideascale-hub
        .field.field--name-ideascale-image.add-animation.animation-1
            img(src="/images/mac-ideascale.png" alt="Ideascale")
        .field.field--name-ideascale-subtitle
            |Conozca nuestra plataforma de e-innovación abierta
        .field.field--name-ideascale-title.add-animation.animation-1
            |Ideascale
        .field.field--name-ideascale-body.add-animation.animation-2
            |Nuestra comunidad cuenta con un instrumento para la generación y crecimientio de iniciativas que fortalecen los procesos y permiten ejecutar nuevas iniciativas. 
            | Aquí es posible proponer ideas innovadoras, conocer su viabilidad y aportar conocimientos e ideas frescas que fortalezcan la gestión de procesos y el talento humano.
        a(class='ideascale-link add-animation animation-3' href='https://unbosque.ideascale.com' ) 
            img(src="/images/arrow-black.svg" alt="Ideascale")
        .footer-home.add-animation.animation-3
            .field.field--name-footer-home-iex
                img(src="/images/logo-iex-footer.svg" alt="Hub iEX Universidad El Bosque")
            .field.field--name-footer-home-body
                .field.field--name-footer-title Contáctenos
                .field.field--name-fotter-body 
                    span PBX.: 648 9000 Ext. 2621 - 2622
                    span Cra. 7B bis No.132-28
                    span HUB iEX de la Universidad El Bosque
                    label Correo electrónico:
                    a(class='link', href='mailto:innovacion@uelbosque.edu.co ') innovacion@unbosque.edu.co 
                    label Como llegar:
                    a(class='link', href='https://goo.gl/maps/B6vBKJWwB8W991WL8 ', target='_blank') Ir a ubicación 
            .field.field--name-footer-home-ueb
                img(src="/images/logo-ueb-footer.svg" alt="Universidad El Bosque")




    



