extends pug/page-templates/tpl_servicio.pug

block title
    title Hub iEX Universidad El Bosque - Equipo Consultor

block nabvar
    include pug/template-parts/navbar.pug
block sidebar
    +block-sidebar('acid-orange', 'Equipo')
        | Contamos con un equipo que se ha articulado con el fin de aportar soluciones integrales que apoyen el crecimiento sostenible y rentable de su organización.
        | Nuestro equipo cuenta con profesionales de las ciencias naturales y de la salud, ingeniería y administración, educación continuada, ciencias sociales e industrias creativas.


block sidebar_footer
    include pug/template-parts/footer-sidebar.pug

block content
    .field.field--name-owl-carousel
        #carousel-team.owl-carousel.owl-theme
            .item.field.field--name-item-team(data-thumb='<img src="../images/team/antonio-alonso.png">')  
                .field--name-img-team  
                    img(src="../images/team/antonio-alonso.png" alt="Antonio Alonso González")
                .field--name-body-team
                    .field--name-body-team--title
                        |Antonio Alonso González
                    .field--name-body-team--cv
                        |Consultor en administración de empresas, global management, mercadeo, dirección de pymes, emprendimiento, investigación, desarrollo e innovación. Experiencia en empresas como Postobón, Terpel y Procolombia.
            .item.field.field--name-item-team(data-thumb='<img src="../images/team/juan-pablo-salcedo.png">')  
                .field--name-img-team  
                    img(src="../images/team/juan-pablo-salcedo.png" alt="Juan Pablo Salcedo Obregón")
                .field--name-body-team
                    .field--name-body-team--title
                        |Juan Pablo Salcedo Obregón
                    .field--name-body-team--cv
                        |Diseñador industrial, especialista en diseño urbano, magíster en Teoría y Práctica de las Artes Plásticas Contemporáneas y doctor en Diseño, gestión y fabricación de proyectos industriales. Experiencia en comunicación, elaboración de productos y uso del diseño como herramienta social.
            .item.field.field--name-item-team(data-thumb='<img src="../images/team/martha-montiel.png">') 
                .field--name-img-team  
                    img(src="../images/team/martha-montiel.png" alt="Martha Montiel")
                .field--name-body-team
                    .field--name-body-team--title
                        |Martha Montiel
                    .field--name-body-team--cv
                        |Licenciada en Lenguas Modernas de la Universidad Pontificia Bolivariana de Medellín. Experiencia en educación en la Universidad de Antioquia y la Universidad EAFIT.  Maestría y un PhD. en Educación con énfasis de Administración y Liderazgo, ambos de Virginia Commonwealth University.
            .item.field.field--name-item-team(data-thumb='<img src="../images/team/jorge-celi.png">')  
                .field--name-img-team  
                    img(src="../images/team/jorge-celi.png" alt="Jorge Enrique Celis Giraldo")
                .field--name-body-team
                    .field--name-body-team--title
                        |Jorge Enrique Celis Giraldo
                    .field--name-body-team--cv
                        |Investigador y consultor en educación técnica, desarrollo profesional en enseñanza y sistemas de evaluación y promoción de profesores en educación superior. Cargos directivos en entidades públicas, liderando programas de acceso a la educación superior y de desarrollo.
            .item.field.field--name-item-team(data-thumb='<img src="../images/team/carlos-felipe-escobar.png">')  
                .field--name-img-team  
                    img(src="../images/team/carlos-felipe-escobar.png" alt="Carlos Felipe Escobar Roa")
                .field--name-body-team
                    .field--name-body-team--title
                        |Carlos Felipe Escobar Roa
                    .field--name-body-team--cv
                        |Amplia experiencia en liderazgo, gestión estratégica e innovación y puesta en marcha de instituciones de educación superior. Su experiencia se deriva de su rol como rector de la Universidad El Bosque y  la Escuela Latinoamericana de Ingeniería, Tecnologías y Emprendedores.
            .item.field.field--name-item-team(data-thumb='<img src="../images/team/default-woman.jpg">')  
                .field--name-img-team  
                    img(src="../images/team/default-woman.jpg" alt="María del Rosario Bozón")
                .field--name-body-team
                    .field--name-body-team--title
                        |María del Rosario Bozón
                    .field--name-body-team--cv
                        |Directora de Educación Continua de la Universidad El Bosque. Administradora de empresas y especialista en Mercadeo. Quince años de experiencia en el sector educativo, planeación, organización y desarrollo de productos y servicios de educación continua (diplomados, cursos y capacitación a la medida).
            .item.field.field--name-item-team(data-thumb='<img src="../images/team/juan-avila-uelbosque.png">')  
                .field--name-img-team  
                    img(src="../images/team/juan-avila-uelbosque.png" alt="Hub iEX Universidad El Bosque")
                .field--name-body-team
                    .field--name-body-team--title
                        |Juan Sebastián Ávila
                    .field--name-body-team--cv
                        |Diseñador Industrial, PhD. en Diseño, Fabricación y Gestión de Proyectos Industriales y Magíster en Diseño Industrial. Experiencia en diseño y desarrollo estratégico de producto, gestión de proyectos, dirección creativa, dirección de arte, investigación y comunicación gráfica.
            .item.field.field--name-item-team(data-thumb='<img src="../images/team/default-woman.jpg">')  
                .field--name-img-team  
                    img(src="../images/team/default-woman.jpg" alt="Natalia Ruiz Rodgers")
                .field--name-body-team
                    .field--name-body-team--title
                        |Natalia Ruiz Rodgers
                    .field--name-body-team--cv
                        |Bióloga magíster en Ciencias Biológicas de la Universidad Nacional de Colombia y Ph. D. en Ecología de la Universidad Ben-Gurión del Néguev. Fue viceministra de Educación Superior de Colombia, directora de la Red Nacional de Bibliotecas y vicerrectora académica y de Investigación de la Universidad Nacional de Colombia. Actual miembro del Centro de Innovación de la Universidad El Bosque.
            .item.field.field--name-item-team(data-thumb='<img src="../images/team/default-men.jpg">')  
                .field--name-img-team  
                    img(src="../images/team/default-men.jpg" alt="Julio César Sandoval Villarreal")
                .field--name-body-team
                    .field--name-body-team--title
                        |Julio César Sandoval Villarreal
                    .field--name-body-team--cv
                        |Ingeniero industrial con MBA en Dirección de Proyectos de la Universidad Viña del Mar, certificado como Business Coach y auditor y especialista en la norma ISO 9000. Experiencia en servicio al cliente, Trade Marketing, gerencias comerciales, finanzas y líneas de producción.


