extends page-templates/tpl_servicio.pug

block title
    title Hub iEX Universidad El Bosque - Articulación

block nabvar
    include template-parts/navbar.pug
block sidebar
    +block-sidebar('acid-orange', 'Articulación')
        | Nuestro HUB-iEX tiene proyección estratégica por su ubicación, desde la cual nos articulamos para ser la mano derecha del sector público y el mundo empresarial establecido en la zona norte de la ciudad y en los alrededores de Bogotá, una región con alto potencial de desarrollo y expansión.

block sidebar_footer
    include template-parts/footer-sidebar.pug

block content
    .field.field--name-owl-carousel
        #carousel-iex.owl-carousel.owl-theme.loop
            .item  
                img(src="/images/slider/iex0.jpg" alt="Hub iEX Universidad El Bosque")
            .item  
                img(src="/images/slider/iex1.jpg" alt="Hub iEX Universidad El Bosque")
            .item  
                img(src="/images/slider/iex2.jpg" alt="Hub iEX Universidad El Bosque")
            .item 
                img(src="/images/slider/iex3.jpg" alt="Hub iEX Universidad El Bosque")
            .item 
                img(src="/images/slider/iex4.jpg" alt="Hub iEX Universidad El Bosque")

    .field.field--name-texto-destacado
        p Aquí encontrará laboratorios, tecnología, acompañamiento para la ideación y creación de nuevos productos y apoyo para el desarrollo efectivo de todos sus proyectos. Deseamos el crecimiento del talento humano de la ciudad, incorporando mejores prácticas, generando conocimiento y realizando procesos de innovación, todo ello, con el fin de ser más productivos.
    .field.field--name-next-service
        a(class='' href='startup.html' ) 
            img(src="/images/arrow-black.svg" alt="Siguiente")
