extends page-templates/tpl_servicio.pug

block title
    title Hub iEX Universidad El Bosque - Expansión

block nabvar
    include template-parts/navbar.pug
block sidebar
    +block-sidebar('acid-green', 'Expansión')
        | Respaldamos a su empresa con experiencia y acompañamiento de expertos en gestión global, finanzas internacionales e innovación, gestión estratégica de propiedad intelectual para la transferencia del conocimiento, proceso de generación de generación de patentes y análisis de inteligencia competitiva para la transferencia de conocimiento, el proceso de creación de patentes e inteligencia competitiva. Así mismo, diseñamos propuestas que contemplan oportunidades de crecimiento alrededor de la producción y la productividad, mientras alimentamos la necesidad de aprendizaje individual y grupal del talento humano de la organización.

block sidebar_footer
    include template-parts/footer-sidebar.pug

block content
    .field.field--name-img-service
        img(src="../images/expansion.jpg", class="img-fluid", alt="Responsive image")
    .field.field--name-texto-destacado
        p Somos un espacio para la integración de la academia con el sector público y privado a través de la formación, investigación aplicada y la innovación. Nuestra colaboración se caracteriza por ser integral e interdisciplinaria soportada en el talento humano y la experiencia acumulada de la Universidad El Bosque.

    +accordion("Example")
        +accordion-item-primary("ECOSISTEMA DE EMPRENDIMIENTO Y CONSOLIDACIÓN EMPRESARIAL","0ne","true")
            p  Respondemos a nuestro compromiso científico y social por medio de la cocreación de ideas y el trabajo en conjunto con el mundo de los negocios, buscando contribuir al objetivo que apasiona a nuestros líderes: ofrecer opciones de crecimiento organizacional y el fortalecimiento del conocimiento implícito en cada modelo de negocio.
        +accordion-item-default("LA INNOVACIÓN PARTE DE LA TRANSFORMACIÓN","Two")
            |  Brindamos una experiencia desde la cual surge una amplia oferta de aquello que podemos llegar a construir de la mano de aliados como Tecnalia y demás organizaciones que, como el HUB iEX, fueron diseñadas y preparadas para hacer de un plan una realidad.
        +accordion-item-default("ECONOMÍA A PARTIR DEL CONOCIMIENTO","Three")
            |  Esta es nuestra apuesta por involucrar a la comunidad universitaria y empresarial en la consecución de resultados a través de su participación en procesos, toma de decisiones e implementación de acciones a largo plazo, desarrollando estrategias con empresas públicas y privadas, cuyo éxito radicará en el trabajo en equipo y en el conocimiento.
    .field.field--name-next-service
        a(class='' href='/' ) 
            img(src="../images/arrow-black.svg" alt="Siguiente")

block destacado
    include template-parts/banner-servicio-footer.pug