.block.block-banner
	a(href='/servicios/articulacion.html') 
		.field.field--name-banner-image
			img(src="../images/IMG_20190408_140731.jpg" alt="Articulación")
		.field.field--name-banner-body
			.field.field--name-banner-title
				|Descu<span>bre</span>
			.field.field--name-banner-subtitle
				|donde se articulan las ideas
			img(src="../images/arrow-orange.svg" alt="Ir a Articulación")