.block.block-banner-hero
	a(href='https://roundme.com/embed/378260/1296947', target='_blank') 
		.field.field--name-banner-logo
			img(src="images/logo-iex.svg" alt="logo Hub iEX Universidad El Bosque")
		.field.field--name-banner-image
			img(src="/images/IMG_20190408_140731.jpg" alt="Articulación")
		.field.field--name-hero-particles#particles-js
		.field.field--name-hero-body
			.field.field--name-hero-title
				|Descu<span>bre</span>
			.field.field--name-hero-subtitle
				|Hub de Innovación, Educación y Extensión Universidad El Bosque
			.field.field--name-hero-arrow
				img(src="/images/arrow-orange.svg" alt="Ir a Equipo") 
			.field.field--name-hero-360
				|Vistar el Hub iEX vista 360º