.block.block-banner-team
	a(href='lideres.html') 
		.field.field--name-banner-image
			img(src="../images/img-default-team.jpg" alt="Team")
		.field.field--name-team-body
			.field.field--name-team-title
				|Líde<span>res</span>
			.field.field--name-team-subtitle
				|Mentores que apoyan el crecimiento sostenible y rentable de su organización 
			img(src="../images/arrow-orange.svg" alt="Ir a Equipo")