.block.block-banner
	a(href='google.com') 
		.field.field--name-banner-logo
			img(src="images/logo-iex.svg" alt="logo Hub iEX Universidad El Bosque")
		.field.field--name-banner-image
			img(src="../images/IMG_20190408_140731.jpg" alt="Articulación")
		.field.field--name-hero-body
			.field.field--name-hero-title
				|Descu<span>bre</span>
			.field.field--name-hero-subtitle
				|Hub de Innovación, Educación y Extensión Universidad El Bosque 