.sidebar-footer
	.field.field--name-footer-title Contáctenos
	.field.field--name-fotter-body 
		span PBX.: 648 9000
		span Línea gratuita:
		span 018000 113033
		span Edificio Fundadores
		span Av. Cra. 9 No. 131 A - 02
		span Skype: /uelbosque
		label Correo electrónico:
		a(class='link', href='mailto:hubiexueb.unbosque.edu.co') hubiexueb.unbosque.edu.co
	.field.field--name-fotter-logo
		img(src="../images/logo-ueb-dark.svg" alt="Universidad El Bosque")
	