.sidebar-footer
	.field.field--name-footer-title Contáctenos
	.field.field--name-fotter-body 
		span PBX.: 648 9000 Ext. 2621 - 2622
		span Cra. 7B bis No.132-28
		span HUB iEX de la Universidad El Bosque
		label Correo electrónico:
		a(class='link', href='mailto:innovacion@uelbosque.edu.co') innovacion@unbosque.edu.co
		label Como llegar:
		a(class='link', href='https://goo.gl/maps/B6vBKJWwB8W991WL8 ', target='_blank') Ir a ubicación 
	.field.field--name-fotter-logo
		img(src="../images/logo-ueb-dark.svg" alt="Universidad El Bosque")
	