nav.navbar.fixed-top.navbar-light
  a.navbar-brand(href='#') 
  button.navbar-toggler.navbar-toggler-right.collapsed(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    span.close(aria-hidden='true') &times;
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='/') Inicio
      li.label-link
        | Servicios
      li.nav-item.active
        a.nav-link(href='/servicios/startup.html') Start Up 
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='/servicios/consolidacion.html') Consolidaci贸n
      li.nav-item
        a.nav-link(href='/servicios/expansion.html') Expansi贸n
      li.nav-item
        a.nav-link(href='/servicios/articulacion.html') Articulaci贸n
      li.label-link
        | Equipo
      li.nav-item
        a.nav-link(href='/lideres.html') Equipo Consultor
      li.label-link
        | Como llegar
      li.nav-item
        a.nav-link(href='https://goo.gl/maps/B6vBKJWwB8W991WL8', target='_blank') Ubicaci贸n
      
