//- mixins file
include ../template-parts/mixins.pug

#sync1.slider.owl-carousel.owl-theme
	+block-slider-video('https://youtu.be/xbBDMtU1N_8')
	+block-slider-video('https://youtu.be/hPHktWN-ohQ')
	+block-slider-video('https://youtu.be/L5BzGerys0w')
	+block-slider-video('https://www.youtube.com/watch?v=k21Ij36RzmE&feature=youtu.be')

#sync2.navigation-thumbs.owl-carousel
	.item
		h1 Educación Continuada
	.item
		h1 Sector Salud
	.item
		h1 Sector Empresarial
	.item
		h1 Industrias Creativas
